apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: rpcu-store
  namespace: rook-ceph
spec:
  metadataPool:
    failureDomain: host
    replicated:
      size: 2
  dataPool:
    failureDomain: host
    erasureCoded:
      dataChunks: 2
      codingChunks: 1
  preservePoolsOnDelete: true
  gateway:
    # sslCertificateRef: todo
    port: 80
    # securePort: 443 todo
    instances: 1
